@media(max-width: 769px){
    .container__inner{
        width:739px;
        margin:auto;
    }
    .header__navbar{
        display:none;
    }
    .header__inner .container__inner{
        justify-content: space-around;
    }
    .header__navbar-nav{
        flex-direction: column;
    }
    .header__navbar{
        width:100%;
        position: absolute;
        top:120px;
        left: 0;
    }
    .header__navbar-nav{
        background: #101010;
    }
    .header__block-media{display: flex;}
    img.sm-block{display:block;}
    img.lg-block{display:none;}
    .header__navbar-nav{
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__navbar-nav li a{
        font-family: ArticaPro-Medium;
        font-size: 35px;
        line-height: 41px;
        text-align: center;
        color: #FFFFFF;
    }
    .header__navbar-nav li{
        margin:10px 0;
    }
}
