body{
    background: #101010;
}
.d-grid{
    display:grid;
}
.d-flex{
    display:flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.container__inner{
    width: 1170px;
    margin:auto;
}
.relative{
    position:relative;
}
.header{
    background: url("../image/background.png")no-repeat;
    background-size: cover;
    background-position: center center;
    width:100%;
}
.header__inner{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    width:100%;
    padding: 40px 0;
}
.header__navbar-nav{
    list-style-type: none;
}
.header__navbar-nav li{
    padding: 0 65px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}
.header__navbar-nav li a{
    color: #FFFFFF;
}
.header__block-media--phone{
    margin-right: 50px;
}
.header__block-media--phone a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ECECEC;
}
.header__block-media--burger>span{
    width: 28px;
    height: 3px;
    margin-top: 6px;
    display: block;
    background: #FFFFFF;
    border-radius: 20px;
}
.menu--active{
    display:block!important;
}
.header__block-media{display:none;}
.header__content-description h3{
    font-family: 'ArticaPro';
    font-size: 30px;
    line-height: 35px;
    color: #ECECEC;
    margin-top: 50px;
}
.header__content-description h1{
    font-family: 'ArticaPro-Medium';
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__content-description p{
    font-family: 'ArticaPro-Medium';
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__content-description--list{
    font-family: 'ArticaPro';
    font-size: 30px;
    line-height: 35px;
    color: #ECECEC;
    margin:30px 0!important;
}
.header__content-description h2{
    font-family: 'ArticaPro-Medium';
    font-size: 36px;
    line-height: 45px;
    color:#fff;
}
.header__content-description--button{
    width: 420px;
    height: 69px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #B29257;
    cursor:pointer;
    margin-top: 30px;
}
.header__content-description--button:after{
    content: '';
    background: url("../image/giftbox.svg");
    width:26px;
    height:28px;
    position: absolute;
    right:20px;
    top:15px;
}
img.sm-block{display:none;}
.lesson{
    background: linear-gradient(97.98deg, #DCAD55 26.48%, #A78B58 89.9%);
    padding: 100px 0;
    width:100%;
    transform: skew(0 , -5deg);
    top:-110px;
}
.lesson:before{
    content: '';
    background: linear-gradient(97.98deg, #FFFFFF 26.48%, #DEDEDE 89.9%);
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    height: 12px;
    width: 100%;
    position: absolute;
    top:0;
    right: 0;
}
.lesson:after{
    content: '';
    background: linear-gradient(97.98deg, #FFFFFF 26.48%, #DEDEDE 89.9%);
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    height: 12px;
    width: 100%;
    position: absolute;
    bottom:0;
    right: 0;
}
.lesson__form input{
    background: #F0F0F0;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);
    width:345px;
    height:55px;
    display: block;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #8C8C8C;
    outline: none;
}
.lesson__form-button{
    background: #101010;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);
    width:345px;
    height:55px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
    cursor:pointer;
}
.lesson__inner{
    transform: skew(0,5deg);
}
.lesson__description p{
    font-family: 'ArticaPro-Medium';
    font-size: 49px;
    line-height: 113.5%;
    color: #F0F0F0;
    text-transform: uppercase;
}
.lesson__description p>span{
    color:#000;
}
.lesson__description{
    padding:20px;
}
.lesson__description:after{
    content: '';
    width:300px;
    height:3px;
    background: #fff;
    position: absolute;
    top:60px;
    left:-50%;
}

/* about*/
.about__foto{
    top:-110px;
    z-index: -1;
}
.about__description h3{
    font-family: 'ArticaPro-Bold';
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
    color: #DCAD55;
}
.about__description{
    padding:30px;
    width:684px;
    max-width: 100%;
}
.about__description p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.onlinelesson__inner h3{
    font-family: 'ArticaPro-Bold';
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #DCAD55;
}
.onlinelesson__inner p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}
.onlinelesson__inner{
    width:1000px;
    max-width: 100%;
    margin:auto;

}
.onlinelesson__block{
    width:1000px;
    margin:auto;
    max-width: 100%;
}
.block--single{
    width: 298.71px;
    min-height: 114.69px;
    border: 3px solid #DCAD55;
    box-sizing: border-box;
    margin:30px 0;
}
.block--single p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 10px;
}
.block--single img{
    margin:10px;
}
.onlinelesson__block-second{
    top:100px;
}
.onlinelesson__block{
    top:100px;
}
/**/
