@font-face {
    font-family: ArticaPro-Medium;
    src: url("font/ArticaPro-Medium.ttf");
}
@font-face {
    font-family: ArticaPro;
    src: url("font/ArticaPro.ttf");
}
@font-face {
    font-family: ArticaPro-Bold;
    src: url("font/ArticaPro-Bold.ttf");
}
@font-face {
    font-family: ArticaPro-Black;
    src: url("font/ArticaPro-Black.ttf");
}
h1{
    font-family: ArticaPro-Black;
}